body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.title-highlight-banner {
  color: orange;
}
.title-highlight {
  color: orange;
}
h1 {
  font-size: 50px;
  font-weight: bold;
}
h2 {
  font-size: 40px;
  font-weight: bold;
}
h3 {
  font-size: 20px;
  font-weight: bold;
}
p {
  font-weight: bold;
  color: dimgray;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.half-width img {
  width: 100%;
}
.top-banner {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}
section {
  height: 500px;
  padding-bottom: 150px;
}
.link-button {
  text-decoration: none;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px 20px;
  background-image: linear-gradient(45deg, lightSalmon, tomato);
}
.bottom-banner {
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
.experience-area {
  background-image: url("images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
}
.experience-area-title {
  margin-left: 5%;
}
.single-experience-area {
  box-shadow: 10px 10px 40px gray;
  border-radius: 5px;
  height: 80%;
  background-color: white;
}
#fullStack {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, lightSalmon, tomato);
  border-image-slice: 1;
}
#babyStack {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}
.footer {
  text-align: center;
  font-weight: bold;
}
